@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 11px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Round the corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb when hovered */
}
